* { 
    Box-sizing: Border-box 
}
body {
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}
/*
    Cascade - the `.output` class has a different font-size.
*/
p {
    font-size: 25px;
}
.calc-container {
    width: 300px;
	height: 500px;
    background-color: black;
    border-width: 3px;
    border-color: black;
    border-style: solid;
	
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
  	
    margin: auto;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.button-row {
    height: 20%;
    display: flex;
}
.clear-button {
    width: 50%;
}
.output {
    color: white;
    text-align: right;
    width: 100%;
    font-size: 45px;
}
.output-row {
    height: 10%;
    display: flex;
    align-items: center;
    background: darkslategray;
}
.quarter-button {
    width: 25%;
    background: #ffbf80;
}
.quarter-button.back {
    background: white;
}
.quarter-button.op {
    background: #b3d9ff;
}
.zero-button {
    width: 75%;
    background: #ffbf80;
}
