* { 
    Box-sizing: Border-box 
}
.title-header {
    display: flex;
    align-items: center;
    justify-content: center;
}
.all-categories {
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
    width: 100%;  
}
.all-featured-articles {
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
    width: 100%;

}
.article-title {
    text-align: center;
}
.all-categories {
    display: flex;
    flex-direction: column;
}
.featured-article-and-categories {
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
    width: 100%;
}
.headline-article {
    
}
.headline-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.single-featured-article {
    padding-left: 10px;
    padding-right: 10px;
    width: 50%;
}

/*Categories*/
.local {
    background-color: burlywood;
}
.opinion {
    background-color: salmon;
}
.politics {
    background-color: aqua;
}
.sports {
    background-color: limegreen;
}
.technology {
    background-color: indianred;
}